# Python cache
__pycache__/
*.pyc

# Log files
deprecated/BACKTESTER/LOGS/
deprecated/NIGHTLY_SCANNER/LOGS/
deprecated/NIGHTLY_SCANNER/LOGS_QUICKSTRIKE/
deprecated/NIGHTLY_SCANNER/VALIDATION_LOGS/
deprecated/NIGHTLY_SCANNER/LOGS_HYBRID/
deprecated/NIGHTLY_SCANNER/VALIDATION_LOGS_OG/
deprecated/NIGHTLY_SCANNER/VALIDATION_REAL_ACTION/


# Personal Data
deprecated/NIGHTLY_SCANNER/PORTFOLIO/portfolio.csv

# Environment folders
.env
venv/
