# Python cache
__pycache__/
*.pyc

# Log files
BACKTESTER/LOGS/
NIGHTLY_SCANNER/LOGS/
NIGHTLY_SCANNER/LOGS_QUICKSTRIKE/
NIGHTLY_SCANNER/VALIDATION_LOGS/
NIGHTLY_SCANNER/LOGS_HYBRID/
NIGHTLY_SCANNER/VALIDATION_LOGS_OG/
NIGHTLY_SCANNER/VALIDATION_REAL_ACTION/


# Personal Data
NIGHTLY_SCANNER/PORTFOLIO/portfolio.csv

# Environment folders
.env
venv/
